{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portal de Servicios Electrónicos PSE - EAM</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/tema3/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/tema3/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/tema3/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/tema3/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/tema3/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/tema3/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- jQuery UI -->
	<link href="/static/tema3/dist/css/south-street/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css">
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="myApp">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard/">Portal de Servicios Electrónicos PSE - EAM</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown" ng-controller="logOutController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {{ request.user }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil de Usuario</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="logout()" confirm="Esta seguro de querer cerrar sesion?"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
						<img src="/static/tema3/img/logo.png" alt="Logo EAM" height="100"  />
						<li>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
														
                        </li>
                        <li>
                            <a href="/dashboard/"><i class="fa fa-dashboard fa-fw"></i> Panel de Control</a>
							<li>
								<a href="#"><i class="fa fa-sitemap fa-fw"></i> Módulos<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">									
									<li>
										<a href="#">Abastecimiento <span class="fa arrow"></span></a>
										<ul class="nav nav-third-level">
											<li>
												<a href="#">Planeación <span class="fa arrow"></span></a>
												<ul class="nav nav-fourth-level">
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=11">Requerimientos de Bienes o Servicios</a>
													</li>
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=12">Inteligencia de Mercado</a>
													</li>
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=13">Proveedores</a>
													</li>
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=14">Diseño de Estrategia de Mercado</a>
													</li>
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=15">Sourcing</a>
													</li>
												
												</ul>
												<!-- /.nav-third-level -->
											</li>
											<li>
												<a href="#">Ejecución <span class="fa arrow"></span></a>
												<ul class="nav nav-fourth-level">
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=16">Evaluación</a>
													</li>
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=17">Subasta</a>
													</li>
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=18">Venta de Excedentes</a>
													</li>
												</ul>
												<!-- /.nav-third-level -->
											</li>
											<li>
												<a href="#">Contratación <span class="fa arrow"></span></a>
												<ul class="nav nav-fourth-level">
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=19">OT/OD/OS</a>
													</li>
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=110">Seguimiento</a>
													</li>
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=111">Recibo de Mercancias</a>
													</li>
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=112">Liquidación</a>
													</li>
													<li>
														<a href="/nav/abastecimiento/servicios/?tipo=113">Otro Si</a>
													</li>
												
												</ul>
												<!-- /.nav-third-level -->
											</li>
										</ul>
										<!-- /.nav-third-level -->
									</li>
									<li>
										<a href="#">Nómina <span class="fa arrow"></span></a>
										<ul class="nav nav-third-level">
											<li>
												<a href="#">Por implementar en fase II....</a>
											</li>
											</li>
										</ul>
										<!-- /.nav-third-level -->
									</li>

								</ul>
								<!-- /.nav-second-level -->
							</li>
                        </li>
                        <li>
                            <a href="/reportes"><i class="fa fa-files-o fa-fw"></i> Reportes</a>
                        </li>
                        <li>
                            <a href="/admin"><i class="fa fa-users fa-fw"></i> Administración y Seguridad</a>
                        </li>
                        <li>
                            <a href="/acerca"><i class="fa fa-renren fa-fw"></i> Acerca de...</a>
                        </li>
                        <li>
                            <a href="/api-auth/logout/"><i class="glyphicon glyphicon-log-out"></i> Cerrar sesión....</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block page_header %}{{titulo}}{% endblock %}</h1>
                </div>
                <div class="col-lg-12">
					{% block contenido %}{% endblock %}
				</div>		
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/tema3/bower_components/jquery/dist/jquery.min.js"></script>

	<!-- jQuery UI -->
    <script src="/static/tema3/js/jquery-ui-1.9.2.custom.min.js"></script>	

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/tema3/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/tema3/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/tema3/dist/js/sb-admin-2.js"></script>

    <!-- AngularJS -->
    <script src="/static/tema3/js/angular/angular.js"></script>
	  <!-- AngularJS Resource-->
    <script src="/static/tema3/js/angular-resource/angular-resource.js"></script>
	  <!-- AngularJS FileUpload-->
    <script src="/static/tema3/js/angular-file-upload/dist/angular-file-upload.js"></script>

  	  <!-- AngularJS Confirm-->
    <!--
    <script src="/static/tema3/bower_components/ui.bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script src="/static/tema3/bower_components/angular-confirm-modal/angular-confirm.min.js"></script>
    -->

	<!-- Scripts basicos -->
    <script src="/static/tema3/js/app.js"></script>
	<script>	
		// Add the CSRF Token
		app.config(['$httpProvider', function($httpProvider) {
			$httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
		}]);
	</script>
    <script src="/static/tema3/js/services.js"></script>
    <script src="/static/tema3/js/controllers.js"></script>
    <script src="/static/tema3/js/utils.js"></script>
    <!-- Otros scripts -->
    <script>

	function AddMasks(){
		$("input[placeholder^='Fecha']").datepicker({ dateFormat: 'yy-mm-dd' });
		$("input[placeholder^='Valor']").spinner({
			  step: 0.01,
			  numberFormat: "n"
		});
	}

	$( document ).ready(function() {
		//console.log($("input")); //.attr("ng-model", "producto.fecha_*"));
		$("#cmb_tipo_producto").change(function () {
			AddMasks();
		});

		AddMasks();

		// Ocultar los botones que no aplican
		if (idx == 0)
		{
			$("input[admin_action^='Si']").hide();
			$("#usuario").val(current_user_name);
			$("#usuario_id").val(current_user_id);

			//$("input[pot-data^='tipo_actividad']").html($("#cmb_tipo_producto").text());
		}
		else
		{
			$("#cmb_tipo_producto").prop('disabled', 'disabled');
			$("#cmb_usuario").prop('disabled', 'disabled');
			$("input[admin_action^='Si']").show();
			$("div[pot-data^='tipo_actividad']").html("<h3>" + $("#cmb_tipo_producto option:selected").text() + "</h3>");
		}
	});
</script>
	{% block js %}{% endblock %}
</body>

</html>
