{% extends "tema3/base.html" %}  

{% block page_header %}
	<p>		<a class="btn btn-success btn-sm" role="button" href="/dashboard">Regresar</a></p>
{% endblock page_header %}
 
{% block contenido %}
{% verbatim %}
<div ng-controller="editController" class="panel panel-green">
    <div class="panel-heading">
				<h3 class="panel-title">Detalle de servicio</h3>
			</div>
    <div class="panel-body"
	<div class="row">

    <form class="form" role="form" ng-submit="guardarProducto()">
        <div class="row">
            <div class="col-sm-12">
                <p ng-repeat="(name, errs) in errors" class="alert alert-danger"><strong>{{ name }}</strong>: {{ errs.join(', ') }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
					<label>Tipo de Servicio</label>
                    <select ng-model="Producto.tipo_producto" class="form-control" ng-options="tipoproducto.id as tipoproducto.nombre for tipoproducto in tipoproductos" id="cmb_tipo_producto">
                    </select>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Consecutivo</label>
                    <input type="text" class="form-control" ng-model="Producto.consecutivo" placeholder="Consecutivo" disabled>
                </div>
            </div>
			<div class="col-sm-4">
                <div class="form-group">
					<label>Estado</label>
                    <input type="text" class="form-control" ng-model="Producto.estado" placeholder="Estado" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
					<label>Fecha Registro</label>
                    <input type="text" class="form-control" ng-model="Producto.fecha_registro" placeholder="Fecha de Registro" disabled>
                </div>
            </div>            
            <div class="col-sm-4">
                <div class="form-group">
					<label>Usuario</label>
					<input id="usuario" type="text" class="form-control" placeholder="Usuario" disabled>
					<hidden id="usuario_id" ng-model="Producto.usuario" />
					<!--
                    <select ng-model="Producto.usuario" class="form-control" ng-options="user.id as user.username for user in users" id="cmb_usuario">
                    </select>
					-->
                </div>
            </div>
			<div class="col-sm-2">
                <div class="form-group">
                    <label>¿Es Secreto?:</label><input type="checkbox" class="checkbox-info" ng-model="Producto.es_secreto" placeholder="Es Secreto?">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" ng-if="Producto.tipo_producto == '5' || Producto.tipo_producto == '6' || Producto.tipo_producto == '2' || Producto.tipo_producto == '1'">
                    <label>Fecha de Requerido</label>
                    <input type="text" class="form-control" ng-model="Producto.fecha_requerido" placeholder="Fecha de Requerido">
                </div>
            </div>
		</div>
        <div class="row">
            <div class="col-sm-12" ng-if="Producto.tipo_producto == '5' || Producto.tipo_producto == '10' || Producto.tipo_producto == '1' || Producto.tipo_producto == '7'">
                <div class="form-group">
                    <label>Objeto</label>
                    <textarea class="form-control" ng-model="Producto.objeto" placeholder="Objeto" ></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
			   <label>Asignacion</label>
                <div class="input-group">
					<table class="table table-striped" id="table1">
						<tr>
							<th>Dependencia</th>
							<th>Porcentaje</th>
							<th>Funcionario Autorizado</th>			
						</tr>
						<tr ng-repeat="detalle in Detalles | filter: search | orderBy: '-id'">
							<td>{{detalle.nombre}}</td>
							<td>{{detalle.codigo}}</td>
							<td>{{detalle.tipo}}</td>
						</tr>				
					</table>
				</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Observaciones</label>
                    <textarea class="form-control" ng-model="Producto.observaciones" placeholder="Observaciones" ></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '6'">
                <div class="form-group">
                    <label>Numero de Proceso</label>
                    <input type="text" class="form-control" ng-model="Producto.numero_proceso" placeholder="Numero de Proceso">
                </div>
            </div>
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '2'">
                <div class="form-group">
                    <label>Nivel de Inteligencia</label>
                    <input type="text" class="form-control" ng-model="Producto.nivel_inteligencia" placeholder="Nivel de Inteligencia">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" ng-if="Producto.tipo_producto == '2'">
                <div class="form-group" >
                    <label>Descripcion del Bien o Servicio</label>
                    <textarea class="form-control" ng-model="Producto.descripcion_bien_servicio" placeholder="Descripcion del Bien o Servicio" ></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '2'">
                <div class="form-group" >
                    <label>Tipo de Ubicacion</label>
                    <select ng-model="Producto.tipo_ubicacion" class="form-control" ng-options="tipoubicacion.id as tipoubicacion.nombre for tipoubicacion in tipoubicaciones">
                    </select>
                </div>
            </div>
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '2'">
                <div class="form-group" >
                    <label>Proveedores sugeridos</label>
                    <input type="text" class="form-control" ng-model="Producto.proveedores_sugeridos" placeholder="Proveedores Sugeridos">
                </div>
            </div>
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '13' || Producto.tipo_producto == '14'">
                <div class="form-group">
                    <label>Numero de Contrato</label>
                    <input type="text" class="form-control" ng-model="Producto.numero_contrato" placeholder="Numero de Contrato">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '10' || Producto.tipo_producto == '14'">
                <div class="form-group">
                    <label>Numero de Requerimiento</label>
                    <input type="text" class="form-control" ng-model="Producto.numero_requerimiento" placeholder="Numero de Requerimiento">
                </div>
            </div>
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '10' || Producto.tipo_producto == '1' || Producto.tipo_producto == '7'">
                <div class="form-group">
                    <label>Valor</label>
                    <input type="text" class="form-control" ng-model="Producto.valor" placeholder="Valor (Sin IVA)">
                </div>
            </div>
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '10' || Producto.tipo_producto == '1' || Producto.tipo_producto == '7'">
                <div class="form-group">
                    <label>Moneda</label>
                    <select ng-model="Producto.moneda" class="form-control" ng-options="moneda.id as moneda.nombre for moneda in monedas">
                    </select>
                    <!--
                    <input type="text" class="form-control" ng-model="Producto.moneda" placeholder="Moneda">
                    -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '10' || Producto.tipo_producto == '7'">
                <div class="form-group">
                    <label>Fecha de Inicio</label>
                    <input type="text" class="form-control" ng-model="Producto.fecha_inicio" placeholder="Fecha Inicio">
                </div>
            </div>
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '10' || Producto.tipo_producto == '7'">
                <div class="form-group">
                    <label>Fecha Fin</label>
                    <input type="text" class="form-control" ng-model="Producto.fecha_terminacion" placeholder="Fecha Fin">
                </div>
            </div>
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '10' || Producto.tipo_producto == '1' || Producto.tipo_producto == '7'">
                <div class="form-group">
                    <label>Numero de Contrato Marco</label>
                    <input type="text" class="form-control" ng-model="Producto.numero_contrato_marco" placeholder="Numero de Contrato o Contrato Marco">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '14' || Producto.tipo_producto == '1'">
                <div class="form-group">
                    <label>Tipo de Contrato</label>
                    <select ng-model="Producto.tipo_contrato" class="form-control" ng-options="tipocontrato.id as tipocontrato.nombre for tipocontrato in tipocontratos">
                    </select>

                </div>
            </div>
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '14' || Producto.tipo_producto == '1'">
                <div class="form-group">
                    <label>Cual?</label>
                    <input type="text" class="form-control" ng-model="Producto.tipo_contrato_cual" placeholder="Cual?">
                </div>
            </div>
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '12'">
                <div class="form-group">
                    <label>Numero de Pedido (OT/OD/OS)</label>
                    <input type="text" class="form-control" ng-model="Producto.numero_pedido_ot_od_os" placeholder="Numero de Pedido para OT/OD/OS">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '11'">
                <div class="form-group">
                    <label>Numero de Orden de Compra</label>
                    <input type="text" class="form-control" ng-model="Producto.numero_orden_compra" placeholder="Numero Orden de Compra">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-if="Producto.tipo_producto == '4'">
                <div class="form-group">
                    <label>NIT</label>
                    <input type="text" class="form-control" ng-model="Producto.nit" placeholder="NIT">
                </div>
            </div>
            <div class="col-sm-8" ng-if="Producto.tipo_producto == '4'">
                <div class="form-group">
                    <label>Razon Social</label>
                    <input type="text" class="form-control" ng-model="Producto.razon_social" placeholder="Razon Social">
                </div>
            </div>
        </div>
	</div>
	<hidden ng-model="Producto.id" />

	<div class="panel panel-footer">
	<div class="row">
		<div class="col-sm-12">
			<input type="button" class="btn btn-primary" value="Asignar" ng-click="asignarResponsable()" admin_action="Si"  />
			<input type="button" class="btn btn-primary" value="Cambiar Estado" ng-click="cambiarEstado()"  admin_action="Si" />
			<input type="button" class="btn btn-primary" value="Historia" ng-click="ver_historia()" />			
			<input type="button" class="btn btn-primary" value="Anexar Documentos" ng-click="anexarDocumentos()" admin_action="Si" />		
			<input type="button" ng-click="eliminar()" class="btn btn-danger" value="Eliminar" admin_action="Si" />		
			<input type="submit" class="btn btn-primary" value="Guardar"/>		
		</div>
		</div>
	</div>
</form>

    <modal title="Asignar responsable" visible="showModalAsignacion">
    <form role="form">
			
      <div class="form-group" >
        <label >Consecutivo</label>
        <h3>{{Producto.consecutivo}}</h3>
      </div>
      <div class="form-group" >
        <label>Tipo de Actividad</label>
          <div pot-data="tipo_actividad"></div>
      </div>
        <hr />
      <div class="form-group" >
        <label for="estado_actual_asignacion">Estado Actual</label>
        <input type="text" ng-model="Asignacion.estado_actual" class="form-control" id="estado_actual_asignacion" placeholder="Estado Actual" />
      </div>
      <div class="form-group" >
        <label for="Accion">Accion</label>
		<select ng-model="Asignacion.accion" class="form-control">
			<option value="1" selected>Asignar</option>
		</select>
      </div>
      <div class="form-group" >
        <label for="responsable_asignacion">Responsable</label>
			<select ng-model="Asignacion.usuario" class="form-control" ng-options="user.id as user.username for user in users" id="cmb_usuario_responsable">
			</select>
      </div>
      <div class="form-group" >
        <label for="consecutivo_asignacion">Fecha</label>
        <input type="text" class="form-control" id="fecha_asignacion" ng-model="Asignacion.fecha" placeholder="Fecha" />
      </div>
      <div class="form-group" >
        <label for="observaciones_asignacion">Observaciones</label>
        <textarea class="form-control" id="observaciones_asignacion" ng-model="Asignacion.descripcion" placeholder="Observaciones"></textarea>
      </div>
	  
	<div class="panel panel-footer">
      <div class="row">
		<div class="col-sm-12">
			<input type="button" ng-click="guardarAsignacion()" class="btn btn-danger" value="Guardar"/>
			<input type="button" class="btn btn-primary" value="Cerrar" data-dismiss="modal" aria-hidden="true"/>
		</div>
	</div>
    </div>
    </form>
  </modal>

    <modal title="Cambiar estado del proceso" visible="showModalEstado">
    <form role="form">
		<div class="form-group" >
        <label >Consecutivo</label>
        <h3>{{Producto.consecutivo}}</h3>
      </div>
      <div class="form-group" >
        <label>Tipo de Actividad</label>
          <div pot-data="tipo_actividad"></div>
      </div>
              <hr />
      <div class="form-group" >
        <label for="Estado.estado_actual">Estado Actual</label>
        <input type="text" class="form-control" id="Estado.estado_actual" ng-model="Estado.estado_actual" placeholder="Estado Actual" />
      </div>
      <div class="form-group" >
        <label for="Estado.accion">Accion</label>
			<select ng-model="Estado.accion" class="form-control" ng-options="accion.id as accion.descripcion for accion in acciones_asignacion" id="cmb_accion_responsable_estado">
			</select>
		</div>
      <div class="form-group" >
        <label for="Estado.responsable">Responsable</label>
      		<select ng-model="Estado.usuario" class="form-control" ng-options="user.id as user.username for user in users" id="cmb_usuario_responsable_estado">
			</select>
		</div>
      <div class="form-group" >
        <label for="Estado.fecha">Fecha</label>
        <input type="text" class="form-control" id="Estado.fecha" ng-model="Estado.fecha" placeholder="Fecha" />
      </div>
      <div class="form-group" >
        <label for="Estado.observaciones">Observaciones</label>
        <textarea class="form-control" id="Estado.descripcion" ng-model="Estado.descripcion" placeholder="Observaciones"></textarea>
      </div>
<div class="panel panel-footer">
      <div class="row">
		<div class="col-sm-12">
			<input type="button" ng-click="guardarEstado()" class="btn btn-danger" value="Guardar"/>
			<input type="button" class="btn btn-primary" value="Cerrar" data-dismiss="modal" aria-hidden="true"/>
		</div>
	</div>
	</div>
    </form>
  </modal>

   <modal title="Anexar documentos" visible="showModalAnexo_Producto">
    <form role="form">
<div class="form-group" >
        <label >Consecutivo</label>
        <h3>{{Producto.consecutivo}}</h3>
      </div>
      <div class="form-group" >
        <label>Tipo de Actividad</label>
          <div pot-data="tipo_actividad"></div>
      </div>
              <hr />
      <div class="form-group" >
        <label for="Anexo_Producto.anexo">Archivo (PDF, DOCX, PPTX, XLSX, ZIP):</label>
        <input type="file" class="form-control" ng-model="Anexo_Producto.anexo" accept=".pdf,.doc,.docx, .ppt, .pptx, .xls, .xlsx, .zip" />
      </div>
      <div class="form-group">
        <label for="Anexo_Producto.fecha">Fecha</label>
        <input type="text" class="form-control" id="Anexo_Producto.fecha" ng-model="Anexo_Producto.fecha" placeholder="Fecha" />
      </div>
      <div class="form-group" >
        <label for="Anexo_Producto.descripcion">Descripcion</label>
        <textarea class="form-control" id="Anexo_Producto.descripcion" ng-model="Anexo_Producto.descripcion" placeholder="Descripcion"></textarea>
      </div>
<div class="panel panel-footer">
      <div class="row">
		<div class="col-sm-12">
			<input type="button" ng-click="guardarAnexo()" class="btn btn-danger" value="Guardar"/>
			<input type="button" class="btn btn-primary" value="Cerrar" data-dismiss="modal" aria-hidden="true"/>
		</div>
	</div>
	</div>
    </form>	
  </modal>

   <modal title="Buscar Dependencias" visible="showModalDependencia">
    <form role="form">
<div class="form-group" >
        <label >Consecutivo</label>
        <h3>{{Producto.consecutivo}}</h3>
      </div>
      <div class="form-group" >
        <label>Tipo de Actividad</label>
          <div pot-data="tipo_actividad"></div>
      </div>
              <hr />
      
      <div class="form-group" >
        <label for="Dependencia.codigo">Dependencias</label>
        <!-- /filtros/Dependencias/ -->

<div class="panel panel-footer">
      <div class="row">
		<div class="col-sm-12">
			<input type="button" ng-click="guardarAnexo()" class="btn btn-danger" value="Guardar"/>
			<input type="button" class="btn btn-primary" value="Cerrar" data-dismiss="modal" aria-hidden="true"/>
		</div>
	</div>
	</div>
    </form>	
  </modal>
  
        {% endverbatim %}
</div>
    </div>

{% endblock contenido%}

{% block js %}
<script>
	var idx = {{ id }};
	var current_user_id = {{request.user.id}};
	var current_user_name = "{{request.user}}";

    var g0 = '{{ user.groups.all.0}}';
    var g1 = '{{ user.groups.all.1}}';
    var g2 = '{{ user.groups.all.2}}';
    var g3 = '{{ user.groups.all.3}}';
    var g4 = '{{ user.groups.all.4}}';
    var g5 = '{{ user.groups.all.5}}';

	function setTitlesPops()
	{
		$("div[pot-data^='tipo_actividad']").html("<h4>" + $("#cmb_tipo_producto option:selected").text() + "</h4>");
		
	}
	
	app.controller('editController',function($scope, $http, $window, ProductoService, UserService, TipoContratoService, TipoUbicacionService, TipoObjetoService, TipoProductoService, MonedaService, PaisService, DepartamentoService, CiudadService, ClienteService, DependenciaService, AccionesEstadoService, AnexoProductoService, EstadoProductoService, UsuarioDependenciaService, AccionesSourcingService, multipartForm) {
		
        var q_01 = UserService.query();
		var q_02 = TipoContratoService.query();
		var q_03 = TipoUbicacionService.query();
		var q_04 = TipoObjetoService.query();
		var q_05 = TipoProductoService.query();
		var q_06 = MonedaService.query();
		var q_07 = PaisService.query();
		var q_08 = DepartamentoService.query();
		var q_09 = CiudadService.query();
		var q_10 = ClienteService.query();
		var q_11 = DependenciaService.query();

		var q_12 = AccionesEstadoService.query();
		//var q_13 = DetalleServicioService.query();
		
		q_01.$promise.then(function(data){
			$scope.users = data.results;
		});	
	
		q_02.$promise.then(function(data){
			$scope.tipocontratos = data.results;
		});	
	
		q_03.$promise.then(function(data){
			$scope.tipoubicaciones = data.results;
		});	
	
		q_04.$promise.then(function(data){
			$scope.tipoobjetos = data.results;
		});	
	
		q_05.$promise.then(function(data){
			$scope.tipoproductos = data.results;
		});	
	
		q_06.$promise.then(function(data){
			$scope.monedas = data.results;
		});	
	/*
		q_07.$promise.then(function(data){
			$scope.paises = data.results;
		});	
	
		q_08.$promise.then(function(data){
			$scope.departamentos = data.results;
		});	
	
		q_09.$promise.then(function(data){
			$scope.ciudades = data.results;
		});	
	
		q_10.$promise.then(function(data){
			$scope.clientes = data.results;
		});	
	
		q_11.$promise.then(function(data){
			$scope.Dependencias = data.results;
		});	
	*/
		q_12.$promise.then(function(data){
			$scope.acciones_asignacion = data.results;
		});	
		
		
	    $http.get("/filtros/dependencias/?username=" + current_user_id)
		.then(function(response) {
			console.log(response.data);
			$scope.Detalles = response.data.results;
		});
		
		//$scope.acciones_asignacion = {"Asignar":'Asignar',"Devolver":'Devolver',"Cerrar":'Cerrar',"Cancelar":'Cancelar'};
		//$scope.acciones_asignacion = {1:'Asignar',2:'Devolver',3:'Cerrar',4:'Cancelar'};

		if (idx != 0)
		{
			var q_producto = ProductoService.get({ id: idx }, function() {
				$scope.Producto = q_producto;	
				$("#estado_actual_asignacion").val($scope.Producto.estado);
			});
		
		}
		$scope.eliminar = function(){
			if (idx != 0)
			{
				console.log($scope.Producto);
				//Confirmar();
				$http.delete('/api/producto/', $scope.Producto);	

			}		
		}

		$scope.showModalAsignacion = false;
        $scope.asignarResponsable = function(){
            $scope.showModalAsignacion = !$scope.showModalAsignacion;
			setTitlesPops();
        };
		
		$scope.showModalEstado = false;
        $scope.cambiarEstado = function(){
            $scope.showModalEstado = !$scope.showModalEstado;
			setTitlesPops();
        };
		
		$scope.showModalAnexo_Producto = false;
        $scope.anexarDocumentos = function(){
            $scope.showModalAnexo_Producto = !$scope.showModalAnexo_Producto;
			setTitlesPops();
        };

		$scope.showModalDependencia = false;
        $scope.buscarDependencia = function(){
            $scope.showModalDependencia = !$scope.showModalDependencia;
			setTitlesPops();
        };
		
		$scope.guardarProducto = function(){
			$scope.errors = {};
			$scope.Producto.usuario = current_user_id;
			
			if (idx != 0)
			{
				//ProductoService.update($scope.Producto);	
				console.log($scope.Producto);
				$http({
					  method: 'PUT',
					  url: '/api/producto/' + idx + '/',
					  data : $scope.Producto,
					}).then(function successCallback(response) {
						//alert("Correct");
					  }, function errorCallback(response) {
						$scope.errors = response.data;
				});

			}
			else
			{
				console.log($scope.Producto);
				$http({
					  method: 'POST',
					  url: '/api/producto/',
					  data : $scope.Producto,
					}).then(function successCallback(response) {
						//alert("Correct");
						$window.location.href = "/nav/abastecimiento/productos/detalle/" + response.data.id;
						//console.log(response.data.id);
					  }, function errorCallback(response) {
						$scope.errors = response.data;
				});
			}
		};
		$scope.Asignacion = {};
		
		$scope.guardarAsignacion = function(){
			//$scope.errors = {};
			$scope.Asignacion.producto = idx;
			console.log($scope.Asignacion);
			
			$http({
				  method: 'POST',
				  url: '/api/estadoproducto/',
				  data : $scope.Asignacion,
				}).then(function successCallback(response) {
					//alert("Correct");
					//asignarResponsable();
				  }, function errorCallback(response) {
					//alert(response.data);
					console.log(response.data);
					//$("#errAsigna").html = response.data;
			});
		};
		
		$scope.Estado = {};
		
		$scope.guardarEstado = function(){
			//$scope.errors = {};
			$scope.Estado.producto = idx;
			console.log($scope.Estado);
			
			$http({
				  method: 'POST',
				  url: '/api/estadoproducto/',
				  data : $scope.Estado,
				}).then(function successCallback(response) {
					//alert("Correct");
					//asignarResponsable();
				  }, function errorCallback(response) {
					//alert(response.data);
					console.log(response.data);
					//$("#errAsigna").html = response.data;
			});
		};
		
		$scope.Anexo_Producto = {};
		
		
		$scope.guardarAnexo = function(){
			//$scope.errors = {};
			$scope.Anexo_Producto.producto = idx;
			$scope.Anexo_Producto.usuario = current_user_id;
			//$scope.uploader = new FileUploader();

			console.log($scope.Anexo_Producto);
			
			$http({
				  method: 'POST',
				  url: '/api/anexoproducto/',
				  data : $scope.Anexo_Producto,
				}).then(function successCallback(response) {

				  }, function errorCallback(response) {
					//alert(response.data);
					console.log(response);
					//$("#errAsigna").html = response.data;
			});
		};
	});

</script>
	
{% endblock js %}