{% extends "tema3/base.html" %}  

{% block page_header %}
	<h1>{{titulo}}</h1>
{% endblock page_header %}
 
{% block contenido %}
<div ng-controller="myController">
	{% verbatim %}
			<table class="table-striped">
				<tr>
					<th>Consecutivo</th>
					<th>Fecha de Registro</th>
					<th>Estado</th>
				</tr>
				<tr ng-repeat="producto in productos">
					<td><a href="/nav/abastecimiento/productos/detalle/{{producto.id}}">{{producto.consecutivo}}</td>
					<td>{{producto.fecha_registro | date }}</td>
					<td>{{producto.estado}}</td>
				</tr>				
			</table>
	{% endverbatim %}
	</div>
</div>
{% endblock contenido%}

{% block js %}
<script>

</script>
{% endblock js %}