{% extends "tema3/base.html" %}  

{% block page_header %}
	<h1>{{titulo}}</h1>
{% endblock page_header %}
 
{% block contenido %}
{% verbatim %}
<div ng-controller="editController">
    <h5>Editar Servicio</h5>
	<div class="row">
    <form class="form" role="form" ng-submit="submit()">
		<div class="col-lg-6">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.consecutivo" placeholder="Consecutivo" disabled>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.fecha_registro" placeholder="Fecha de Registro" disabled>
			</div>
		</div>                                            
		<div class="col-lg-6">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.estado" placeholder="Estado">
			</div>
		</div>                                            
		<div class="col-lg-6">
			<div class="form-group">
				<select ng-model="Producto.usuario" ng-options="user.id as user.username for user in users">
				</select>
			</div>
		</div>                                            
		<div class="col-lg-6">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.fecha_requerido" placeholder="Fecha de Requerido">
			</div>
		</div>                                            
		<div class="col-lg-6">
			<div class="form-group">
				<input type="checkbox" class="form-control" ng-model="Producto.es_secreto" placeholder="Es Secreto?">
			</div>
		</div>                                            
		<div class="col-lg-12" ng-show="Producto.tipo_producto == 2">
			<div class="form-group">
				<textarea class="form-control" ng-model="Producto.objeto" placeholder="Objeto" ></textarea>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.localizacion" placeholder="Localizacion">
			</div>
		</div>
		<div class="col-lg-12">
			<div class="form-group">
				<textarea class="form-control" ng-model="Producto.observaciones" placeholder="Observaciones" ></textarea>
			</div>
		</div>                                            
		<div class="col-lg-4">	
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.numero_proceso" placeholder="Numero de Proceso">
			</div>
		</div>                                            
		<div class="col-lg-4">	
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.nivel_inteligencia" placeholder="Nivel de Inteligencia">
			</div>
		</div>                                            
		<div class="col-lg-12">
			<div class="form-group">
				<textarea class="form-control" ng-model="Producto.descripcion_bien_servicio" placeholder="Descripcion del Bien o Servicio" ></textarea>
			</div>
		</div>                                            
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.tipo_ubicacion" placeholder="Tipo de Ubicacion">
			</div>
		</div>                                            
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.proveedores_sugeridos" placeholder="Proveedores Sugeridos">
			</div>
		</div>
		<div class="col-lg-4">		
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.numero_contrato" placeholder="Numero de Contrato">
			</div>
		</div>                                            
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.numero_requerimiento" placeholder="Numerom de Requerimiento">
			</div>
		</div>                                            
		<div class="col-lg-4">		
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.valor" placeholder="Valor (Sin IVA)">
			</div>
		</div>                                            
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.moneda" placeholder="Moneda">
			</div>
		</div>                                            
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.fecha_inicio" placeholder="Fecha Inicio">
			</div>
		</div>                                                                                        
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.fecha_terminacion" placeholder="Fecha Fin">
			</div>
		</div>                                            
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.numero_contrato_marco" placeholder="Numero de Contrato o Contrato Marco">
			</div>
		</div>                                            
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.tipo_contrato" placeholder="Tipo de Contrato">
			</div>
		</div>                                            
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.tipo_contrato_cual" placeholder="Cual?">
			</div>
		</div>                                            
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.numero_pedido_ot_od_os" placeholder="Numero de Pedido para OT/OD/OS">
			</div>
		</div>                                            
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.numero_orden_compra" placeholder="Numero Orden de Compra">
			</div>
		</div>                                            
		<div class="col-lg-4">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.nit" placeholder="NIT">
			</div>
		</div>                                            
		<div class="col-lg-8">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="Producto.razon_social" placeholder="Razon Social">
			</div>
		</div>   
		<div class="col-lg-12">
					<input type="submit" class="btn btn-primary" value="Guardar"/>		
		</div>
		<hidden ng-model="Producto.id" />
</form>
{% endverbatim %}
    
</div>
</div>
{% endblock contenido%}

{% block js %}
<script>
	app.controller('editController',function($scope, $http, ProductoService, UserService) {
		var idx = {{ id }};
		var q_users = UserService.query();
		q_users.$promise.then(function(data){
		$scope.users = data.results;
	});	
	
	var productox = ProductoService.get({ id: idx }, function() {
		$scope.Producto = productox;	
	});
  
  $scope.submit = function(){
	console.log($scope.Producto);
	console.log($scope.Producto.id);
	
	if ($scope.Producto.id == 'undefined')
	{
		//ProductoService.update($scope.Producto);	
		$http.put('/api/producto/', $scope.Producto);	

	}
	else
	{
		//$scope.Producto.id = 0;
		//ProductoService.post($scope.Producto);	
		$http.post('/api/producto/', $scope.Producto);	
	}	
	//alert("se agrego");
  };
});

</script>
{% endblock js %}