<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <!-- Bootstrap Core CSS -->
    <link href="http://cdn.colepcon.com/tema3/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="http://cdn.colepcon.com/tema3/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="http://cdn.colepcon.com/tema3/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://cdn.colepcon.com/tema3/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="http://cdn.colepcon.com/tema3/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://cdn.colepcon.com/tema3/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-6">
                <p><img src="{{ logo_cliente }}" alt="logo_cliente" /></p>
            </div>
            <div class="col-md-6">
                <p><img src="http://cdn.colepcon.com/tema3/img/logo.png" alt="logo" /></p>
                <h3>Portal Servicios de EAM – PSE</h3>
                <h4>{{ ciudad }} - {{ fecha }} </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Estimado (a): {{ usuario_requerimiento }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Asunto: Registro Requerimiento
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Su solicitud de servicio referente a la actividad de: {{ tipo_actividad }}, ha sido registrada satisfactoriamente bajo el numero {{ consecutivo }}.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                La aceptación de la misma será confirmada vía correo electrónico a su cuenta, una vez sea revisada por el Gestor respectivo.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Podrá consultar el estado de su solicitud <a href="{{ link }}">aqui</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Gracias por utilizar nuestros servicios.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Cordialmente,
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                EAM CONSULTORIA Y SERVICIOS
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Tels: 380 94 00 ext. 101
            </div>
        </div>
        <div class="row">
        <div class="col-md-12">
                Buzón: <a href="mailto:servidesk@eamcys.com">servidesk@eamcys.com</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Bogotá D.C., Colombia
            </div>
        </div>
    </div>
</div>
</body>
</html>